[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = {git = "https://github.com/secdev/scapy.git", editable = true}
grpcio = "*"
grpcio-tools = "*"

[dev-packages]

[requires]
python_version = "3.10"
